@model CreateCompletedWorkoutViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add Completed Workout</h4>
<br>
<br>
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="WorkoutId" />
    <label asp-for="@Model.WorkoutName" class="control-label"></label>
    <span class="h4">@Model.WorkoutName</span>
    <br>
    <br>
    <div class="form-group col-sm-3">
        <label asp-for="Comments" class="control-label"></label>
        <input asp-for="Comments" class="form-control" />
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>
    <table class="table-striped table">
        <thead>
            <tr>
                <th>Exercise Name</th>
                <th>Target Sets</th>
                <th>Target Reps</th>
                <th>Target Weight</th>
                <th>Target Mins</th>
                <th>Actual Sets</th>
                <th>Actual Reps</th>
                <th>Actual Weight</th>
                <th>Actual Mins</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DetailedExercises.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.DetailedExercises[i].ExerciseId" />
                        @Model.DetailedExercises[i].ExerciseName
                    </td>
                    <td>
                        @Model.DetailedExercises[i].TargetSets
                    </td>
                    <td>
                        @Model.DetailedExercises[i].TargetReps
                    </td>
                    <td>
                        @Model.DetailedExercises[i].TargetWeight
                    </td>
                    <td>
                        @Model.DetailedExercises[i].TargetMins
                    </td>
                    <td>
                        <input asp-for="@Model.DetailedExercises[i].Sets" />
                    </td>
                    <td>
                        <input asp-for="@Model.DetailedExercises[i].Reps" />
                    </td>
                    <td>
                        <input asp-for="@Model.DetailedExercises[i].Weight" />
                    </td>
                    <td>
                        <input asp-for="@Model.DetailedExercises[i].Mins" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>