@model List<DetailedWorkoutViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Completed Workouts</h2>
<p>
    <a asp-action="Index" asp-controller="Workouts">Add Completed Workout</a>
</p>
@if(Model.Count > 0)
{ <table class="table-striped table">
    <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th>Workout and Exercises</th>
            <th>Target Sets</th>
            <th>Target Reps</th>
            <th>Target Weight</th>
            <th>Target Mins</th>
            <th>Actual Sets</th>
            <th>Actual Reps</th>
            <th>Actual Weight</th>
            <th>Actual Mins</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Count; i++)
    {

        <tr>
            <td>@Model[i].WorkoutName</td>
        </tr>
        <tbody>
            @for (int j = 0; j < Model[i].DetailedExercises.Count; j++)
            {

                <tr>
                    <td style="padding-left: 3%;">
                        @Model[i].DetailedExercises[j].ExerciseName
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetSets
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetReps
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetWeight
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetMins
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Sets
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Reps
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Weight
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Mins
                    </td>
                </tr>
            }
        </tbody>

    }
</table>
}
else
{
    <div>You have not completed any workouts. Please completed workouts.</div>
}
