@model List<DetailedWorkoutViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    <a asp-action="Index" asp-controller="Workouts">Add Completed Workout</a>
</p>
@for (int i = 0; i < Model.Count; i++)
{
    <table class="table-striped table">
        <thead>
            <tr>
                <th>WorkoutName: @Model[i].WorkoutName</th>
            </tr>
            <tr>
                <th>Exercise Name</th>
                <th>Target Sets</th>
                <th>Target Reps</th>
                <th>Target Weight</th>
                <th>Target Mins</th>
                <th>Actual Sets</th>
                <th>Actual Reps</th>
                <th>Actual Weight</th>
                <th>Actual Mins</th>
            </tr>
        </thead>
        <tbody>
            @for (int j = 0; j < Model[i].DetailedExercises.Count; j++)
            {
                <tr>
                    <td>
                        @Model[i].DetailedExercises[j].ExerciseName
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetSets
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetReps
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetWeight
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].TargetMins
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Sets
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Reps
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Weight
                    </td>
                    <td>
                        @Model[i].DetailedExercises[j].Mins
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
